// out: ../css/search_results.css, compress: true, sourcemap: false

@homeBorderColor: rgb(91, 82, 221);
@gameBorderColor: rgb(134, 214, 123);
@reviewBorderColor: rgb(214, 123, 158);
@franchisesBorderColor: rgb(92, 180, 207);
@charactersBorderColor: rgb(207, 119, 92);

.search_header {
  padding-top: 120px;
  width: 1200px;
  margin: auto;
  .title {
    text-align: center;
    font-size: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    h1 {
      margin-bottom: 1px;
    }
    input {
      border: none;
      font-size: 45px;
      background-color: transparent;
      font-family: 'Lato';
      font-weight: 300;
    }
    span {border-bottom: 1px solid;}
    &.games {
      span {
        color: @gameBorderColor;
        input {color: @gameBorderColor;}
      }
    }
    &.reviews {
      color: @reviewBorderColor;
      input {color: @reviewBorderColor;}
    }
    &.franchises {
      color: @franchisesBorderColor;
      input {color: @franchisesBorderColor;}
    }
    &.characters {
      color: @charactersBorderColor;
      input {color: @charactersBorderColor;}
    }
  }
  .meta {
    text-align: right;
    p {
      margin: 0;
      line-height: 40px;
      font-size: 1.1em;
    }
  }
}

.search_results {
  width: 1200px;
  margin: auto;
  height: auto;
  overflow: auto;
  margin-bottom: 100px;
  .search_result {
    width: 400px; 
    width: 31%;
    margin: 25px 1.1%;
    float: left;
    text-align: center;
    .result_image {
      width: 100%; height: 250px;
      img {
        width: 100%; height: 100%;
        object-fit: cover;
        transition: 0.8s;
        &:hover {
          object-position: bottom;
        }
        object-position: top;
      }
    }
    a {
      width: 100%;
      height: 50px;
      margin: 0px;
      color: white;
      text-decoration: none;
      line-height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
    }
  }
}

@media (max-width: 1350px) {
  .search_header {
    padding-top: 120px;
    width: 1200px;
    margin: auto;
    .title {
      text-align: center;
      font-size: 45px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      h1 {
        margin-bottom: 1px;
      }
      input {
        border: none;
        font-size: 45px;
        background-color: transparent;
        font-family: 'Lato';
        font-weight: 300;
      }
      span {border-bottom: 1px solid;}
      &.games {
        span {
          color: @gameBorderColor;
          input {color: @gameBorderColor;}
        }
      }
      &.reviews {
        color: @reviewBorderColor;
        input {color: @reviewBorderColor;}
      }
      &.franchises {
        color: @franchisesBorderColor;
        input {color: @franchisesBorderColor;}
      }
      &.characters {
        color: @charactersBorderColor;
        input {color: @charactersBorderColor;}
      }
    }
    .meta {
      text-align: right;
      p {
        margin: 0;
        line-height: 40px;
        font-size: 1.1em;
      }
    }
  }
  
  .search_results {
    width: 1200px;
    margin: auto;
    height: auto;
    overflow: auto;
    margin-bottom: 100px;
    .search_result {
      width: 400px; 
      width: 31%;
      margin: 25px 1.1%;
      float: left;
      text-align: center;
      .result_image {
        width: 100%; height: 250px;
        img {
          width: 100%; height: 100%;
          object-fit: cover;
          transition: 0.8s;
          &:hover {
            object-position: bottom;
          }
          object-position: top;
        }
      }
      a {
        width: 100%;
        height: 50px;
        margin: 0px;
        color: white;
        text-decoration: none;
        line-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
      }
    }
  }
}