//out: ../css/display_page.css, sourcemap: false, compress: true
@homeBorderColor: rgb(91, 82, 221);
@gameBorderColor: rgb(134, 214, 123);
@reviewBorderColor: rgb(214, 123, 158);
@franchisesBorderColor: rgb(92, 180, 207);
@charactersBorderColor: rgb(207, 119, 92);
.page {
  .page_content {
    overflow: auto;
    padding-top: 100px;
    height: auto;
    width: 1200px;
    margin: auto;    

  }
}