//out: ../css/display_page.css, sourcemap: false, compress: true
@homeBorderColor: rgb(91, 82, 221);
@gameBorderColor: rgb(134, 214, 123);
@reviewBorderColor: rgb(214, 123, 158);
@franchisesBorderColor: rgb(92, 180, 207);
@charactersBorderColor: rgb(207, 119, 92);
.page {
  .page_content {
    overflow: auto;
    padding-top: 100px;
    height: auto;
    width: 1200px;
    margin: auto;    

    .about {
      width: 100%;
      header {
        font-size: 3em;
        text-align: center;
        font-weight: 300;
        margin-bottom: 50px;
      }
      h1, h2, h3 {
        font-size: 2em;
        padding-top: 35px;
        padding-bottom: 10px;
        font-weight: 300;
      }
      h3 {
        font-size: 1.5em;
      }
      h4 {
        font-size: 1.2em;
        padding-top: 25px;
        padding-bottom: 10px;
      }
      a {text-decoration: none; color: white;}
      figure {
        width: 100% !important;
        text-align: center;
        padding: 50px 25px;
        box-sizing: border-box;
        &:nth-of-type(odd) {
          float: right;
        }
        &:nth-of-type(even) {
          float: left;
        }
        img {
          width: 300px;
        }
        figcaption {
          width: 100%;
        }
      }
      table {
        width: 100%;
        text-align: center;
      }
      ul {
        margin-bottom: 50px;
        li {
          padding: 5px 0;
        }
      }
    }
  }
}