//out: ../css/home.css, compress: true, sourcemap: false

@colHeader: 100%;

.home {
  .home_header {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    padding-top: 60px;
    box-sizing: border-box;
    &.selected {
      .home_header_col {
        width: 15%;
      }
    }
    .home_header_col {
      &.active {
        width: 40%;
      }
      cursor: pointer;
      transition: width 0.3s;
      width: 20%;
      height: @colHeader;
      float: left;
    }
  }
  .home_content {
    overflow: auto;
    height: auto;
    width: 1200px;
    margin: auto;
    .sidebar {
      width: 400px;
      height: 800px;
      float: left;
      background-color: darkcyan;
    }

    .content {
      width: 800px;
      float: left;
      padding-left: 25px;
      box-sizing: border-box;
    }
    .game_releases, .game_reviews {
      .title {
        h1 {
          color: white;
          font-size: 2em;
        }
      }
      .content_results {
        width: 100%; 
        margin-top: 10px;
        .content_result {
          width: 47.5%;
          height: 500px;
          background-color: antiquewhite;
          float: left;
          &:nth-of-type(n + 1) {
            margin-right: 2.5%;
          }
          &:nth-of-type(n + 2) {
            margin-right: 0%;
            margin-left: 2.5%;
          }
        }
      }
    }
    // .game_releases {
    // }
    .game_reviews {
      margin-top: 50px;
    }
  }
}