//out: ../css/home.css, compress: true, sourcemap: false

@colHeader: 100%;

.home {
  .home_header {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    padding-top: 60px;
    box-sizing: border-box;
    background-color: aliceblue;
    &.selected {
      .home_header_col {
        width: 15%;
      }
    }
    .home_header_col {
      &.active {
        width: 40%;
      }
      cursor: pointer;
      transition: width 0.3s;
      width: 20%;
      height: @colHeader;
      float: left;
      background-color: slateblue;
      &:nth-of-type(2) {
        background-color: red;
      }
      &:nth-of-type(4) {
        background-color: red;
      }
    }
  }
  .home_content {
    .game_releases, .game_reviews {
      width: 100%;
      height: auto;
      overflow: auto;
      .title_row {
        width: 100%; height: 325px;
        box-sizing: border-box;
        .title_underline {
          width: 100%; height: 100%;
          border-bottom: 3px solid black;
        }
      }
      .title {
        width: 300px;
        height: 300px;
        text-align: center;
        margin-top: 25px;
        box-shadow: 0px 5px 5px 0px black;
        h1 {
          font-size: 2.5em;
          line-height: 300px;
        }
      }
    }
    .game_releases {
      .title_row {
        padding-left: 350px;
      }      
      .title {
        float: left;
        margin-left: 25px;
        background-color: rgb(110, 153, 247);
        h1 {
          color: black;
        }
      }
    }
    .game_reviews {
      .title_row {
        padding-right: 350px;
      } 
      .title {
        background-color: #232323;
        margin-right: 25px;
        background-color: rgb(23, 20, 51);
        float: right;
        h1 {
          color: white;
        }
      }
    }
  }
}