//out: ../css/home.css, compress: true, sourcemap: false

@colHeader: 100%;

.home {
  .home_header {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    padding-top: 60px;
    box-sizing: border-box;
    background-color: aliceblue;
    .home_header_left {
      width: 40%;
      float: left;
      background-color: aqua;
      height: @colHeader;
    }
    .home_header_right {
      width: 20%;
      float: left;
      background-color: slateblue;
      height: @colHeader;
    }
  }
}