//out: ../css/page.css, compress: true, sourcemap: false

@bgColor: #f1f1f1;

.page {
  .page_content {
    overflow: auto;
    padding-top: 100px;
    height: auto;
    width: 1200px;
    margin: auto;    
  }





  .display_header {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    padding-top: 60px;
    box-sizing: border-box;
    position: relative;
    .display_image {
      width: 100%; height: 100%;
    }
    .display_content {
      position: absolute;
      width: 100%; height: 75%;
      top: 0; bottom: 0;
      margin: auto;
      background-color: rgba(0,0,0,0.9);
      .content_container {
        width: 1200px;
        height: 100%;
        margin: auto;
        position: relative;
        .image {width: 30%; position: absolute; top: 0; bottom: 0; margin: auto;}
        .data {
          position: absolute;
          top: 25px;
          width: 100%;
          box-sizing: border-box;
          padding-left: 32%;
          .name {
            h1 {
              font-size: 3em;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          .description {
            p {
              font-size: 1.2em;
              margin: 20px 10px;
              margin-left: 0px;
            }
          }
          .genres, .themes, .release_date {
            width: 100%;
            float: left;
            .data_span, .date, .title {
              margin: 10px 10px;
              float: left;
            }
            .title {
              margin-left: 0px;
            }
          }
          .platforms {
            width: 100%;
            float: left;
            .platform {
              float: left;
              padding: 10px;
              &:hover {
                background-color: green;
              }
              p {
                line-height: 20px;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .display_header_2 {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    min-height: 600px;
    padding-top: 60px;
    box-sizing: border-box;
    position: relative;
    .display_cover {
      width: 100%; height: 100%;
      position: absolute;
      top: 0; bottom: 0;
      margin: auto;
      background-color: rgba(0,0,0,0.7);
    }
    .display_box {
      width: 1000px;
      height: 500px;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      margin: auto;
      border-radius: 20px;
      overflow: hidden;
      transition: width 0.5s;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
      &.closed {
        width: 0px;
      }
      .display_top {
        width: 100%;
        height: 240px;
        .image {
          width: 20%; 
          position: relative;
          height: 100%;
          float: left;
          background-color: @bgColor;
          background-color: transparent;
          img {
            position: absolute;
            padding: 5px;
            box-sizing: border-box;
            width: 100%;
            top: 0; bottom: 0;
            margin: auto;
            border-radius: 50%;
          }
        }
        .about, .name {
          width: 80%; float: left;
        }
        .about {
          height: 90px;
          background-color: rgb(143, 17, 17);
        }
        .name {
          height: 150px;
          background-color: gold;
        }
      }
      .row {
        height: 70px;
        height: 65px;
        width: 100%;
      }
      .platforms {
        background-color: rebeccapurple;
      }
      .genres {
        background-color: saddlebrown;
      }
      .themes {
        background-color: thistle;
      }
      .date {
        background-color: ivory;
      }
    }
  }

  .page_content.game {
    
  }
}

