//out: ../css/page.css, compress: true, sourcemap: false

@bgColor: rgba(255,255,255,0.5);
@textColor: black;

@homeBorderColor: rgb(91, 82, 221);
@gameBorderColor: rgb(134, 214, 123);
@reviewBorderColor: rgb(214, 123, 158);
@franchisesBorderColor: rgb(92, 180, 207);
@charactersBorderColor: rgb(207, 119, 92);

.page {
  .page_content {
    overflow: auto;
    padding-top: 100px;
    height: auto;
    width: 1200px;
    margin: auto;    
  }

  .not_available {
    font-weight: 300;
    font-size: 2em;
    padding: 20px 0;
    text-align: center;
  }
  

  .page_content.game {
    width: 1000px;
    .images, .about {
      width: 100%;
    }
    .about {
      width: 100%;
      header {
        font-size: 3em;
        text-align: center;
        font-weight: 300;
        margin-bottom: 50px;
      }
      h1, h2, h3 {
        font-size: 2em;
        padding-top: 35px;
        padding-bottom: 10px;
        font-weight: 300;
      }
      h3 {
        font-size: 1.5em;
      }
      h4 {
        font-size: 1.2em;
        padding-top: 25px;
        padding-bottom: 10px;
      }
      a {text-decoration: none; color: white;}
      figure {
        width: 100% !important;
        text-align: center;
        padding: 50px 25px;
        box-sizing: border-box;
        &:nth-of-type(odd) {
          float: right;
        }
        &:nth-of-type(even) {
          float: left;
        }
        img {
          width: 300px;
        }
        figcaption {
          width: 100%;
        }
      }
      table {
        width: 100%;
        text-align: center;
      }
      ul {
        margin-bottom: 50px;
        li {
          padding: 5px 0;
        }
      }
    }
    .misc {
      width: 100%;
      height: 204px;
      overflow: hidden;
      margin: 100px 0;
      .row {
        width: 100%;
        height: 51px;
        overflow: hidden;
        border-bottom: 1px solid white;
        &:first-of-type {
          border-top: 1px solid white;
        }
        .name {
          font-weight: bold;
          width: 100px;
          float: left;
          line-height: 50px;
          box-sizing: border-box;
          margin: 0;
          border-right: 1px solid white;
        }
        .data {
          width: 900px;
          float: left;
          padding: 0 10px;
          p {
            line-height: 50px;
            margin: 0px 10px;
            font-size: 0.9em;
            float: left;
          }
        }
      }
    }
    .similar_games {
      width: 100%;
      height: auto;
      overflow: auto;
      margin-bottom: 150px;
      h1 {
        font-weight: 300;
        font-size: 3em;
        padding: 20px 0;
      }
    }
    .images {
      width: 100%;
      height: auto;
      overflow: auto;
      margin-bottom: 200px;
      h1 {
        font-weight: 300;
        font-size: 3em;
        padding: 20px 0;
      }
      .display_image {
        width: 333px;
        height: 208px;
        padding: 0 25px;
        margin-bottom: 25px;
        box-sizing: border-box;
        float: left;
        img {
          cursor: pointer;
          width: 100%; height: 100%;
          transition: 0.8s;
          object-fit: contain;
          // object-position: top;
          &:hover {
            // object-position: bottom;
          }
        }
      }
    }
  }





  .search_header {
    padding-top: 120px;
    width: 1200px;
    margin: auto;
    .title {
      text-align: center;
      font-size: 3em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      span {color: green;}
      &.games {span {color: @gameBorderColor;}}
      &.reviews {span {color: @reviewBorderColor;}}
      &.franchises {span {color: @franchisesBorderColor;}}
      &.characters {span {color: @charactersBorderColor;}}
    }
    .meta {
      text-align: right;
      p {
        margin: 0;
        line-height: 40px;
        font-size: 1.1em;
      }
    }
  }

  .search_results {
    width: 1200px;
    margin: auto;
    height: auto;
    overflow: auto;
    margin-bottom: 100px;
    .search_result {
      width: 400px; float: left;
      padding: 25px;
      box-sizing: border-box;
      text-align: center;
      .result_image {
        width: 100%; height: 250px;
        img {
          width: 100%; height: 100%;
          object-fit: cover;
          transition: 0.8s;
          &:hover {
            object-position: bottom;
          }
          object-position: top;
        }
      }
      a {
        width: 100%;
        height: 50px;
        margin: 0px;
        color: white;
        text-decoration: none;
        line-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
      }
    }
  }

  .pagination {
    width: 600px;
    height: 50px;
    margin: 100px auto;
    .arrow_section {
      width: 100px; height: 100%;
      float: left;
      color: white;
      .arrow {
        width: 50%;
        height: 100%;
        float: left;
        text-align: center;
        &.disabled {
          color:rgba(0,0,0,0.4);
          i {cursor: not-allowed;}
        }
        i {
          cursor: pointer;
          margin-top: 9px;
        }
      }
    }
    .center_section {
      width: 400px; height: 100%;
      text-align: center;
      float: left;
      .page_number {
        height: 100%;
        width: 33%;
        float: left;
        font-size: 1.4em;
        line-height: 50px;
        color: white;
        cursor: pointer;
        &.current_page {border-bottom: 1px solid white;}
        &.disabled {
          color:rgba(0,0,0,0.4);
          cursor: not-allowed;
        }
      }
    }
  }

}
