//out: ../css/page.css, compress: true, sourcemap: false

@bgColor: rgba(255,255,255,0.5);
@textColor: black;

@homeBorderColor: rgb(91, 82, 221);
@gameBorderColor: rgb(134, 214, 123);
@reviewBorderColor: rgb(214, 123, 158);
@franchisesBorderColor: rgb(92, 180, 207);
@charactersBorderColor: rgb(207, 119, 92);

.page {
  .page_content {
    overflow: auto;
    padding-top: 100px;
    height: auto;
    width: 1200px;
    margin: auto;    
  }

  .header {
    padding-top: 60px;

  }

  .not_available {
    font-weight: 300;
    font-size: 2em;
    padding: 20px 0;
    text-align: center;
  }
  
}
