//out: ../css/navbar.css, compress: true, sourcemap: false

@height: 60px;
@width: 100%;
@bgColor: #232323;
@bgColor: #f1f1f1;

.navbar {
  width: @width;
  height: @height;
  background-color: @bgColor;
  a {
    float: left;
    text-decoration: none;
  }
  .brand {
    width: 20%;
    float: left;
    color: black;
    line-height: @height;
  }
  .nav-link {
    width: 15%;
  }
  .nav-search {

  }
}